.list-contain {
  margin: 80px;
  a {
    text-decoration: none;
  }
.list-item {
    width: 800px;
    box-sizing: border-box;
    margin: auto;
    padding: 40px 40px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.9);
    transition: transform .35s ease-in-out;
    cursor: pointer;
    color: #333;
    .title {
      color: #333;
      font-size: 30px;
      margin-bottom: 10px;
    }
    &>.content {
      font-size: 20px;
    }
    &:hover {
      transform: scale(1.01, 1.01);
    }
  }
}
