//色卡部分
$basis_color: (
  darkgreen:rgb(105, 138, 145),
   greenyellow: rgb(198, 206, 182),
   lightgreen: rgb(159, 177, 162),
    milkwhite: rgb(235, 231, 218),
    darkmilkwhite: rgb(224, 220, 205)
);

body {
  background-color: map-get($basis_color, greenyellow);
  font-family: "Noto Serif", serif;
}
body, html {
  padding: 0;
  margin: 0;
}
.main-content {
  box-shadow: 0 0 12px 0px #555;
  width: 1000px;
  margin: auto;
  position: relative;
}